* {
    transition: .3s;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}
.card-image:hover {
    cursor: zoom-in;
}
.list-products {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list-item {
    padding: 5px;
    padding-left: 15px;
    border-left: 4px solid orangered;
    margin: 15px;
}

.card {
    height: 100%;
    padding: 2rem;
}

#list-products {
    display: grid !important;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

/* @media only screen and (max-width: 1024px) {
    #list-products {
        grid-template-columns: 50% 50%;
    }
} */
@media all and (max-width: 1540px) {
    .modal-card, .modal-content {
        margin: 0 auto;
        width: 860px;
    }
}
@media all and (max-width: 1240px) {
    #list-products {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .modal-card, .modal-content {
        margin: 0 auto;
        width: 80%;
    }
}

@media all and (max-width: 960px) {
    #list-products {
        display: grid;
        grid-template-columns: 100%;
    }.modal-card, .modal-content {
        margin: 0 auto;
        width: 95%;
    }
}

.notification {
    animation: navAnim .5s ease-in-out;
    animation-delay: 1.8s;
}

@keyframes navAnim {
    0% {
        opacity: 1;
        height: 63.33px;
    }
    20% {
        display: block;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
        height: 0;
    }
}

.notification{
    width:80%;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:28%;
    z-index: 100;
}